Source: openmediavault-acestream
Section: misc
XB-Plugin-Section: multimedia
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3

Package: openmediavault-acestream
Architecture: all
Depends: openmediavault (>= 0.6.0.6), python-gevent, tmux, python, acestream-engine, ${misc:Depends}
Description: AceStream engine and proxy for OpenMediaVault. View Acestream links in a normal media player
